@import url("https://use.typekit.net/oov2wcw.css");
@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  /* Brand Colors */
  --asm-black: oklch(0% 0 0);
  --asm-lime-green: oklch(81.46% 0.191 124.42);
  --asm-ivory: oklch(96.84% 0.016 98.99);
  --asm-flame-red: oklch(56.42% 0.212 28.87);
  --asm-terracotta: oklch(43.21% 0.0605 25.62);


  /* Theme Colors */
  --background: oklch(0.9551 0 0);
  --foreground: oklch(0 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.2167 0.0015 197.0424);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.2167 0.0015 197.0424);
  --primary: oklch(81.46% 0.191 124.42);
  --primary-foreground: oklch(0% 0 0);
  --secondary: oklch(0% 0 0);
  --secondary-foreground: oklch(96.84% 0.016 98.99);
  --muted: oklch(0.9702 0 0);
  --muted-foreground: oklch(0.552 0.016 285.938);
  --accent: oklch(0.9702 0 0);
  --accent-foreground: oklch(0.2167 0.0015 197.0424);
  --destructive: oklch(0.5455 0.2181 10.9832);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.9315 0.0051 228.8216);
  --input: oklch(81.46% 0.191 124.42);
  --ring: oklch(81.46% 0.191 124.42);
  --chart-1: oklch(93% 0.10 124.42);
  --chart-2: oklch(87% 0.16 124.42);
  --chart-3: var(--asm-lime-green);
  --chart-4: oklch(65% 0.17 124.42);
  --chart-5: oklch(48% 0.13 124.42);
  --sidebar: oklch(0.9851 0 0);
  --sidebar-foreground: oklch(0.2167 0.0015 197.0424);
  --sidebar-primary: oklch(81.46% 0.191 124.42);
  --sidebar-primary-foreground: oklch(0% 0 0);
  --sidebar-accent: oklch(0.9702 0 0);
  --sidebar-accent-foreground: oklch(0.2167 0.0015 197.0424);
  --sidebar-border: oklch(0.9219 0 0);
  --sidebar-ring: oklch(0.709 0 0);
  --radius: 0.775rem;
  --shadow-x: 0;
  --shadow-y: 1px;
  --shadow-blur: 3px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.1;
  --shadow-color: oklch(0 0 0);
  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm:
    0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow-md:
    0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 2px 4px -1px hsl(0 0% 0% / 0.1);
  --shadow-lg:
    0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 4px 6px -1px hsl(0 0% 0% / 0.1);
  --shadow-xl:
    0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 8px 10px -1px hsl(0 0% 0% / 0.1);
  --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  /* Brand Colors */
  --asm-black: oklch(0% 0 0);
  --asm-lime-green: oklch(81.46% 0.191 124.42);
  --asm-ivory: oklch(96.84% 0.016 98.99);
  --asm-flame-red: oklch(56.42% 0.212 28.87);
  --asm-terracotta: oklch(43.21% 0.0605 25.62);

  /* Theme Colors */
  --background: oklch(0.18 0.002 197);
  --foreground: oklch(0.9851 0 0);
  --card: oklch(0.265 0.004 197);
  --card-foreground: oklch(0.9851 0 0);
  --popover: oklch(0.29 0.004 197);
  --popover-foreground: oklch(0.9851 0 0);
  --primary: oklch(81.46% 0.191 124.42);
  --primary-foreground: oklch(0.18 0.002 197);
  --secondary: oklch(0% 0 0);
  --secondary-foreground: oklch(96.84% 0.016 98.99);
  --muted: oklch(0.3 0.004 197);
  --muted-foreground: oklch(0.72 0 0);
  --accent: oklch(0.34 0.004 197);
  --accent-foreground: oklch(0.9851 0 0);
  --destructive: oklch(0.7123 0.1898 6.4355);
  --destructive-foreground: oklch(0.9851 0 0);
  --border: oklch(0.4 0.01 197);
  --input: oklch(81.46% 0.191 124.42);
  --ring: oklch(81.46% 0.191 124.42);
  --chart-1: oklch(93% 0.10 124.42);
  --chart-2: oklch(87% 0.16 124.42);
  --chart-3: var(--asm-lime-green);
  --chart-4: oklch(65% 0.17 124.42);
  --chart-5: oklch(48% 0.13 124.42);
  --sidebar: oklch(0.2 0.003 197);
  --sidebar-foreground: oklch(0.9851 0 0);
  --sidebar-primary: oklch(43.21% 0.0605 25.62);
  --sidebar-primary-foreground: oklch(0.9851 0 0);
  --sidebar-accent: oklch(0.3 0.004 197);
  --sidebar-accent-foreground: oklch(0.9851 0 0);
  --sidebar-border: oklch(0.4 0.01 197);
  --sidebar-ring: oklch(0.4386 0 0);
  --radius: 0.775rem;
  --shadow-x: 0;
  --shadow-y: 1px;
  --shadow-blur: 3px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.1;
  --shadow-color: oklch(0 0 0);
  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm:
    0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow-md:
    0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 2px 4px -1px hsl(0 0% 0% / 0.1);
  --shadow-lg:
    0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 4px 6px -1px hsl(0 0% 0% / 0.1);
  --shadow-xl:
    0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 8px 10px -1px hsl(0 0% 0% / 0.1);
  --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
  
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  
  /* Brand Colors */
  --color-asm-black: var(--asm-black);
  --color-asm-lime-green: var(--asm-lime-green);
  --color-asm-ivory: var(--asm-ivory);
  --color-asm-flame-red: var(--asm-flame-red);
  --color-asm-terracotta: var(--asm-terracotta);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  /* Fonts */
  --font-sans: var(--font-outfit);
  --font-mono: var(--font-geist-mono);
  --font-gothic: century-gothic, ui-sans-serif, sans-serif, system-ui;
  --font-geist-sans: var(--font-geist-sans);
  /* Radius */
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  /* Shadows */
  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-gothic font-bold;
  }
}
